/* Action Buttons in Rows - Positioned side by side */
.tableactions {
  display: flex;
  justify-content: flex-start; /* Align to the left */
  align-items: center;
  gap: 15px; /* Space between elements */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 15px;
}

/* Search Input Styling */
.search-input {
  padding: 8px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 250px;
  margin-right: 20px; /* Space between search input and buttons */
  outline: none;
}

/* Table Row Styling */
.table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Styling for Table Input Fields */
.table td input {
  width: 100%; /* Ensure the input takes up the full width of the cell */
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
}

/* Table Headers Styling */
.table th {
  background-color: #f8f9fa;
  font-weight: bold;
}

  /* Logout button */
  .changeProductButton {
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    width: 20%;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .changeProductButton:hover {
    transform: scale(1.05);
  }
  
  .changeProductButton:active {
    transform: scale(1);
  }