.action-buttons-container {
    display: flex;
    gap: 5px;
}

.action-cell {
    width: 200px;
    background-color: #beddc7 !important;
    border-right: 1px solid #000000 !important;
}

.small-action-button {
    /* padding: 4px 8px;
    font-size: 0.9rem;
    min-width: 40px; */
}
  