.action-buttons-container {
    display: flex;
    gap: 5px;
}

.action-cell {
    width: 200px;
    /* white-space: nowrap; */
}

.small-action-button {
    /* padding: 4px 8px;
    font-size: 0.9rem;
    min-width: 40px; */
}
  